<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Practice SCSS</title>
</head>

<body>
  <main>
    <header class="header">
      Some text
      <!-- <img src="../images/hero-small.jpg" alt=""> -->
    </header>

  </main>
</body>

</html>