<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Practice SCSS</title>
</head>

<body>
  <main>
    <header class="header">
      <div class="header__logo-box"><img src="../images/logo-white.png" alt="Logo" class="header__logo"></div>
      <div class="header__text-box">
        <h1 class="heading-1">
          <span class="heading-1--main">
            outdoors
          </span>
          <span class="heading-1--sub">is where life happens</span>
        </h1>
        <a href="#" class="btn btn--white">discover our tours</a>
      </div>

    </header>

  </main>
</body>

</html>